
NEXT_PUBLIC_API_URL=http://localhost:5000

# Google reCAPTCHA v3 Configuration
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LcfwTQtAAAAAHGlwExmHiKVR2AkjtHpZUN-1Xd3
RECAPTCHA_SECRET_KEY=6LcfwTQtAAAAAA9Gh_oj9h67q-E3hE8GrrPvZvFa
